<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html.twig' %}
</head>

<body>
    <h1>Inscription</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_index') }}">back to list</a>
</body>
</html>
